.box {
    color: turquoise;
    border: 1px solid black;  
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left; 

  }

  #canvas{
    width: 500px;
    height: 500px; 
    border: 1px solid black; 
    margin: auto;
    margin-top: 5%;
    
  }